{% extends 'base.html.twig' %} {% block title %}Edit Course{% endblock %} {%
block body %}
<div class="container my-2">
  <a class="btn btn-warning my-2" href="{{ path('app_course_index') }}"
    ><i class="bi bi-list-ul pe-2"></i>Back to courses</a
  >
  <h1>Edit Course</h1>

  {{ include("course/_form.html.twig", { button_label: "Update" }) }}

  {{ include("course/_delete_form.html.twig") }}
</div>
{% endblock %}
