<div class="container-fluid text-center p-5 bg-danger">
  <div class="row testimonial d-flex justify-content-center testimonial-pos">
    <div class="col-md-12 d-flex justify-content-center text-uppercase">
      <h6>Testimonials</h6>
    </div>
    <div
      class="col-md-12 pb-3 d-flex justify-content-center text-light text-uppercase"
    >
      <h3>Explore our course participants experience</h3>
    </div>
  </div>
  <div class="row g-2 m-2">
    <div class="col-md-4">
      <div class="card p-3 text-center px-4">
        <div class="user-image">
          <img
            src="{{ asset('pictures/jonathan.jpg') }}"
            class="rounded-circle"
            width="80"
          />
        </div>

        <div class="user-content">
          <h5 class="mb-0">Jonathan Blake</h5>
          <span>First Aid Training Course</span>
          <p>
            &ldquo;The quality of this course is, in my opinion, excellent.
            Teaching and practical interpretation is very easy to
            understand.&rdquo;
          </p>
        </div>

        <div class="ratings">
          <i class="bi bi-star-fill text-warning"></i>
          <i class="bi bi-star-fill text-warning"></i>
          <i class="bi bi-star-fill text-warning"></i>
          <i class="bi bi-star-fill text-warning"></i>
        </div>
      </div>
    </div>
  </div>
</div>
